# ======================
**/target/
**/build/

# ======================
# IDE files
# ======================
.idea/
.vscode/
*.iml

# ======================
# OS files
# ======================
.DS_Store

/Testing/lab1/target/
/XML & Json/Day2/target/
Data-Structures/
Java/
OOP-C++/
Testing/
Web/
XML & Json/
Mobile-Java/
Web-RestFul/