<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UnitTestingDay1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57A0A1642FC2FBD70051984D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A0A17A2FC2FBDB0051984D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A0A1842FC2FBDB0051984D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
