body {
  font-family: 'Times New Roman', Georgia, serif;
  letter-spacing: 4px;
  padding: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navs {
  color: black;
  text-decoration: none;
  padding: 16px;
  margin-right: 20px;
}

.navs:hover {
  background-color: grey;
}

.img {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw; 
  left: 50%;
  right: 50%;
  margin-left: -50vw; 
  margin-right: -50vw;
}


#img-title {
  position: absolute;
  bottom: 20px;
  left: 30px; 
  color: rgb(239, 237, 237); 
}

.content-section{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 8%;
}

.without-space{
    letter-spacing: 0px !important;
    font: normal !important;
}

.centered{
    text-align: center;
}

.highlighted{
    background-color: rgb(239, 237, 237);
    padding-left: 5px;
    padding-right: 5px;
}

.grey-paragraph{
    color: rgb(172, 171, 171);
    padding-bottom: 30px;
    letter-spacing: 0px !important;
    font: normal !important;

}

.blue-txt{
    color: #607d8b;
        letter-spacing: 0px !important;
    font: normal !important;

}

.form input{
    width: 100%;
    border: none;
  border-bottom: 1px solid rgb(239, 237, 237);
  padding: 16px;
}

.contact-form input:focus {
  border: 2px solid blue;
}

.button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(240, 240, 240);
}

hr{
    border: none;
    border-bottom: 1px solid rgb(233, 232, 232);
}